@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --quote-font-size: 28px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--dark-grayish-blue);
  position: relative;
  animation-name: myAnimation;
  animation-duration: 0.5s;
}

.card__title {
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--neon-green);
  margin-bottom: 30px;
}

.card__text {
  font-size: var(--quote-font-size);
  text-align: center;
  color: var(--light-cyan);
  margin-bottom: 30px;
}

.hr {
  height: 1px;
  background-color: var(--grayish-blue);
  margin-bottom: 30px;
  position: relative;
}

.hr > div {
  padding: 20px;
  color: var(--light-cyan);
  background-color: var(--dark-grayish-blue);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 30px;
}

.card > img {
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: var(--neon-green);
  cursor: pointer;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
